@import "tailwindcss";

:root {
  --primary: #111010;
  --foreground: #ebebeb;
  --font-header: var(--font-roboto);
  --font-body: var(--font-inter);
}

body {
  color: var(--foreground);
  background-color: var(--primary);
}

.title {
  font-family: var(--font-header);
}

.header {
  font-family: var(--font-header);
}

.body {
  font-family: var(--font-body);
}

.sans {
  font-family: var(--font-sans);
}

button,
ul,
li,
a {
  font-family: var(--font-body);
}
